h1 {
  border: 5px solid darkslategray;
  background-color: lightslategray;
  border-radius: 100px;
  text-align: center;
  /*  margin-top: 50px;*/
  margin-left: 25px;
  margin-right: 25px;
  display: block;
}

body {
  background-color: burlywood
}

#output-wrapper {
  background-color: lightslategray;
  border: 5px solid darkslategray;
  height: 500px;
  width: 300px;
  text-align: center;
  color: cornsilk;
  line-height:inherit;
}
#game-input {
  left:175;
  position: absolute;
  bottom: 10px;

}

#outputbox {
  border: 2px solid darkslategray;
  background-color: slategray;
  border-radius: 50px;
  width: 350px;
  text-align: center;
  height: 400px;
  top:50px;
  left: 75px;
  size: 15px;
  position: relative;
}

#output-wrapper {
  width: 500;
  position: relative;
}

#bob {
  background-image: url("http://toonclips.com/600/cartoon-greedy-rich-business-man-holding-his-money-by-ron-leishman-3555.jpg");
  height: 300px;
  width: 300px;
  margin-left: 20px;
  margin-top: 30px;
  background-size: cover;
}
h6 {
}

#game-output {
  width: 200;
  z-index:1;
  color: black;
  position: relative;
  left: 50px;
}

#superstar {
  display: none;
}

.page {
  display:inline-block;
}

#blah {
  height:200px;
  width: 200px;
  z-index: -1;
}

#turfwar {
  height: 100px;
  width: 1000px;
  background-color: slategray;
  border: 3px solid darkslategray;
  text-align: center;
}
#signin {
  color: blue;
  text-align: right;
  margin-top: -30;
  margin-right: -1;
  background-color: lightslategray;
  text-decoration: underline;
}
#sipage {
  position: absolute;
  margin-left: 0;
  width: 15000;
  height: 10000;
  z-index: 1000000;
  background-color: darkred
}
#signup {
  background-color: darkred;
  position: relative;
  left: 500;
  top: 500;
  color: lightblue;
  text-decoration: underline;
  border: none;
}
#silogo {
  position: relative;
  left: 150;
  top: 75;
}
#siun {
  position: relative;
  height: 30;
  width: 200;
  left: -200;
  top: 250;
}
#sipw {
  position: relative;
  height: 30;
  width: 200;
  left: -405;
  top: 350;
}
#sitext {
  font-size: 40;
  text-decoration: underline;
  position: relative;
  left: -575;
  top: 150;
}
.siscreen {
  display:none;
}
#sienter {
  position: relative;
  top: 400;
  left: -650;
}
#suur {
  position: relative;
  top: 525;
  left: -725;
}

#supwone {
  position: relative;
  top: 550;
  left: -860;
}

#suenter {
  position: relative;
  top: 575;
  left: -995;
}

.sustuff {
  display: none;
}

#supw {
  position: relative;
  top: 560;
  left: -860;
}

#crac {
  position: relative;
  top: 590;
  left: -962;
}
