h1 {
  border: 5px solid darkslategray;
  background-color: lightslategray;
  border-radius: 100px;
  text-align: center;
  /*  margin-top: 50px;*/
  margin-left: 25px;
  margin-right: 25px;
  display: block;
}

body {
  background-color: burlywood
}

#output-wrapper {
  background-color: lightslategray;
  border: 5px solid darkslategray;
  height: 45%;
  width: 300px;
  text-align: center;
  color: cornsilk;
  line-height:inherit;
}
#game-input {
  left:175;
  position: absolute;
  bottom: 10px;

}

#outputbox {
  border: 2px solid darkslategray;
  background-color: slategray;
  border-radius: 50px;
  width: 350px;
  text-align: center;
  height: 150px;
  top:50px;
  left: 75px;
  size: 15px;
  position: relative;
}

#output-wrapper {
  width: 500;
  position: relative;
}

#bob {
  background-image: url("http://toonclips.com/600/cartoon-greedy-rich-business-man-holding-his-money-by-ron-leishman-3555.jpg");
  height: 300px;
  width: 300px;
  margin-left: 20px;
  margin-top: 30px;
  background-size: cover;
}
h6 {
}

#game-output {
  width: 200;
  z-index:1;
  color: black;
  position: relative;
  left: 50px;
}

#superstar {
  display: none;
}

.page {
  display:inline-block;
}

#blah {
  height:200px;
  width: 200px;
  z-index: -1;
}
